{% extends 'base.html.twig' %}

{% block title %}Masuk{% endblock %}

{% block body %}
    <div class="container">
        <div class="column is-4-desktop">
            <h1 class="title">Masuk Aplikasi</h1>
            <h2 class="subtitle">Silahkan masukkan username dan password anda pada formulir di bawah ini.</h2>

            {% if error %}
                <div class="notification is-warning">
                    <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form method="post">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="field">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <div class="control">
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input" placeholder="Username" required autofocus>
                    </div>
                </div>

                <div class="field">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <div class="control">
                        <input type="password" name="password" id="inputPassword" class="input" placeholder="Password" required>
                    </div>
                </div>

                <div class="field">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="button is-primary" type="submit">
                        <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                        <span>Masuk</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
