{% extends 'base.html.twig' %}

{% block title %}Hai Arsipers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home-member-index') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column is-4-desktop">
                <h1 id="app-user-fullname" class="title">Hai {{ app.user.fullname }}</h1>
                <h2 class="subtitle">Silahkan ketik lengkap nomor SU yang ingin dicari, lalu tekan <strong>Enter</strong>.</h2>
                <h2 class="subtitle">Anda juga dapat menekan tombol ➕ untuk menambahkan bundel baru.</h2>
            </div>
            <div class="column is-8-desktop">
                <div id="app-searcher"></div>
                <div id="app-searcher-local-data"
                     data-url-apione="{{ url('api-bundel-tambah') }}"
                     data-url-apitwo="{{ url('api-su-ubah') }}"
                     data-url-apithree="{{ url('api-bundel-ubah') }}"
                     data-url-apifour="{{ url('api-su-bundel', {id: 'xxx'}) }}"
                     data-url-apifive="{{ url('api-su-tambah') }}"
                     data-url-apisix="{{ url('api-su-ubah-status') }}"
                     data-url-apiseven="{{ url('api-su-hapus') }}"
                     data-url-apikel="{{ url('api-kel-index') }}"
                     data-url-apisu="{{ url('api-su',{label: 'xxx'}) }}"
                     data-max-year="{{ maxYear }}"
                ></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home-member-index') }}
{% endblock %}