{% extends 'base.html.twig' %}

{% block title %}Hai Arsipers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home-index') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="column is-4-desktop">
            <h1 class="title">Hai Arsipers</h1>
            <h2 class="subtitle">Ini adalah aplikasi untuk pencatatan arsip SU dan Bundel SU. Silahkan Masuk terlebih dahulu untuk mendapatkan akses ke dalam aplikasi.</h2>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home-index') }}
{% endblock %}