{% extends 'base.html.twig' %}

{% block title %}Hai Arsipers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column is-6-desktop">
                <h1 id="app-user-fullname" class="title">Ubah Password</h1>
                <h2 class="subtitle">Silahkan lengkapi isian berikut untuk mengubah password anda.</h2>
            </div>
            <div class="column is-6-desktop">

                {% if error %}
                    <div class="notification is-warning">
                        <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                        {{ error }}
                    </div>
                {% endif %}

                <form action="" method="post">
                    <div class="field">
                        <label class="label">Password Baru</label>
                        <div class="control">
                            <input class="input" value="" type="password" name="Profil[new]" placeholder="Password baru" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Ulangi Password Baru</label>
                        <div class="control">
                            <input class="input" value="" type="password" name="Profil[ret]" placeholder="Ulangi password baru" required>
                        </div>
                    </div>

                    <button class="button is-primary" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profil') }}
{% endblock %}