{% extends 'base.html.twig' %}

{% block title %}Tentang Apps{% endblock %}

{% block body %}
    <div class="container">
        <div class="column is-4-desktop">
            <h1 class="title">Tentang Arsip Tanah v1.0</h1>
            <h2 class="subtitle">Ini adalah aplikasi untuk pencatatan arsip SU dan Bundel SU. Anda dapat menyimpan data Bundel SU dan memberikan status serta posisi arsip tersebut disimpan.</h2>
        </div>
    </div>
{% endblock %}
