<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} - Arsip Tanah v1.0</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section class="hero is-fullheight">

            <!-- Hero head: will stick at the top -->
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item">
                                <h1>Arsip Tanah v1.0</h1>
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        {% if app.user %}
                            {{ include('main-navbar-member.html.twig') }}
                        {% else %}
                            {{ include('main-navbar-guest.html.twig') }}
                        {% endif %}
                    </div>
                </nav>
            </div>

            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                {% block body %}{% endblock %}
            </div>

            <!-- Hero footer: will stick at the bottom -->
            <div class="hero-foot">
                <nav class="tabs">
                    <div class="container">
                        <ul class="is-pulled-right">
                            <li class="is-active"><a href="{{ path('tentang') }}">Tentang Apps</a></li>
                        </ul>
                        <ul>
                            <li>Arsip Tanah v1.0</li>
                            <li>&nbsp;<i class="fas fa-fw fa-at"></i> BPN</li>
                            <li>&nbsp; with ❤ 3000</li>
                        </ul>
                    </div>
                </nav>
            </div>

        </section>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
