<div id="navbarMenuHeroA" class="navbar-menu">
    <div class="navbar-end">
        <a href="{{ path('home') }}" class="navbar-item is-active">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span>Beranda</span>
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <span class="icon"><img src="{{ asset('build/img/logo-symfony.26906a34.png') }}" alt="{{ app.user.fullname }}"></span>&nbsp;
                <span>Hi {{ app.user.fullname }}</span>
            </a>

            <div class="navbar-dropdown is-boxed">
                <a href="{{ path('profil') }}" class="navbar-item">Ubah Password</a>
                <hr class="navbar-divider">
                <a href="{{ path('app_logout') }}" class="navbar-item is-primary">
                    <span>Keluar</span>
                </a>
            </div>
        </div>

    </div>
</div>