<div id="navbarMenuHeroA" class="navbar-menu">
    <div class="navbar-end">
        <a href="{{ path('home') }}" class="navbar-item is-active">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span>Beranda</span>
        </a>
        <span class="navbar-item">
            <a href="{{ path('app_login') }}" class="button is-primary">
                <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                <span>Masuk</span>
            </a>
        </span>
    </div>
</div>