<template>
    <section>

        <div class="box">
            <div class="field is-grouped" style="width: 100%">
                <div class="control">
                    <b-tooltip label="Tambah Bundel">
                        <button @click="isModalOneOpened = true" class="button is-primary is-medium is-rounded"><span class="icon"><i class="fas fa-plus"></i></span></button>
                    </b-tooltip>
                </div>
                <div :class="{ 'is-loading': isLoading }" class="control is-expanded has-icons-right is-medium">
                    <input class="input is-medium is-rounded" placeholder="Cari" type="search" v-model="teksCari" v-on:keyup.enter="cariSuratUkur">
                    <span class="icon is-small is-right" v-if="!isLoading"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>

        <div class="box" v-if="item">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>SU {{ nomorSu }}</strong>
                            <span :title="item.su.statusText" class="icon"><i :class="item.su.statusIcon" class="fas fa-circle"></i></span>
                            <br>
                            <small>
                                <span class="icon"><i class="fas fa-at"></i></span>
                                <span>Bundel <strong>{{ item.bu.label }}</strong></span>
                            </small>
                            <br>
                            <small>
                                <span class="icon"><i :class="item.bu.statusIcon" class="fas fa-circle"></i></span>
                                <span>Bundel: {{ item.bu.statusText }}</span>
                                <span class="icon"><i class="fas fa-box-open"></i></span>
                                <span v-if="item.bu.status !== 2">Rak {{ item.bu.rak }}</span>
                                <span v-else>{{ item.bu.info }} pada {{ item.bu.tgl }}</span>
                            </small>
                        </p>
                    </div>
                </div>
                <div class="media-right">

                    <b-tooltip label="Tambah Surat Ukur">
                        <a @click="isModalFiveOpened = true" href="#">
                            <span class="icon is-small"><i class="fas fa-fw fa-plus"></i></span>
                        </a>
                    </b-tooltip>

                    <b-tooltip label="Ubah Surat Ukur">
                        <a @click="isModalTwoOpened = true" href="#">
                            <span class="icon is-small"><i class="fas fa-fw fa-pen"></i></span>
                        </a>
                    </b-tooltip>

                    <b-tooltip label="Ubah Bundel">
                        <a @click="isModalThreeOpened = true" href="#">
                            <span class="icon is-small"><i class="fas fa-fw fa-book-open"></i></span>
                        </a>
                    </b-tooltip>

                    <b-tooltip label="Lihat Semua Surat Ukur">
                        <a @click="isModalFourOpened = true" href="#">
                            <span class="icon is-small"><i class="fas fa-fw fa-list-ul"></i></span>
                        </a>
                    </b-tooltip>

                </div>
            </article>
        </div>

        <b-modal :active.sync="isModalOneOpened" :width="480">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">

                    <label class="label">Label Bundel</label>
                    <div class="field has-addons has-addons-centered">
                        <div class="control">
                            <input class="input" name="" placeholder="cth: 1-1000" type="text" v-model="formOneNomor">
                        </div>
                        <div class="control">
                            <span class="select">
                                <select v-model="formOneDesa">
                                    <option :value="item.id" v-for="item in itemsKel">{{ item.nama }}</option>
                                </select>
                            </span>
                        </div>
                        <div class="control">
                            <input :max="maxTahun" class="input" min="1910" name="" placeholder="cth: 2019" type="number" v-model.number="formOneTahun">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Kode Rak</label>
                        <div class="control">
                            <input class="input" placeholder="cth: A0313" type="text" v-model="formOneRak">
                        </div>
                    </div>

                    <div class="field">
                        <button :disabled="formOneIsLoading" :loading="formOneIsLoading" @click="submitFormOne" class="button is-primary">
                            <span class="icon"><i :class="[ formOneIsLoading ? 'fa-spinner fa-spin' : 'fa-save' ]" class="fas"></i></span>
                            <span>Simpan</span>
                        </button>
                    </div>

                </div>
            </div>
            <button aria-label="close" class="modal-close is-large"></button>
        </b-modal>

        <b-modal :active.sync="isModalTwoOpened" :width="480">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">

                    <label class="label">Ubah Status Surat Ukur</label>
                    <div class="field has-addons has-addons-fullwidth">
                        <div class="control">
                            <input :value="nomorSu" class="input" disabled placeholder="cth: 23010" readonly type="text">
                        </div>
                        <div class="control">
                            <b-select v-model="formTwoStatus">
                                <option :value="0">Tidak ada</option>
                                <option :value="1">Tersedia</option>
                                <option :value="3">Rusak</option>
                            </b-select>
                        </div>
                    </div>

                    <div class="field">
                        <button :disabled="formTwoIsLoading" :loading="formTwoIsLoading" @click="submitFormTwo" class="button is-primary">
                            <span class="icon"><i :class="[ formTwoIsLoading ? 'fa-spinner fa-spin' : 'fa-save' ]" class="fas"></i></span>
                            <span>Simpan</span>
                        </button>
                    </div>

                </div>
            </div>
            <button aria-label="close" class="modal-close is-large"></button>
        </b-modal>

        <b-modal :active.sync="isModalThreeOpened" :width="480">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">

                    <label class="label">Ubah Status Bundel</label>
                    <div class="field">
                        <div class="control">
                            <input :value="formThreeLabel" class="input" disabled placeholder="cth: 1-100/Sukajadi/2001" readonly type="text">
                        </div>
                    </div>

                    <b-field label="Kode Rak">
                        <b-input placeholder="cth: 202" v-model="formThreeRak"></b-input>
                    </b-field>

                    <div class="field">
                        <label class="label">Status</label>
                        <div class="field is-grouped">
                            <div class="control">
                                <b-select v-model="formThreeStatus">
                                    <option :value="0">Tidak ada</option>
                                    <option :value="1">Tersedia</option>
                                    <option :value="2">Dipinjam</option>
                                    <option :value="3">Rusak</option>
                                </b-select>
                            </div>
                            <div class="control" v-if="formThreeStatus === 2">
                                <b-input placeholder="Affandes" v-model="formThreeInfo"></b-input>
                            </div>
                        </div>
                        <p class="help is-danger" v-if="formThreeStatus === 0">Jika status bundel <strong>Tidak ada</strong> maka semua surat ukur di bundel ini akan berstatus <strong>Tidak ada</strong>.</p>
                    </div>

                    <div class="field">
                        <button :disabled="formThreeIsLoading" :loading="formThreeIsLoading" @click="submitFormThree" class="button is-primary">
                            <span class="icon"><i :class="[ formThreeIsLoading ? 'fa-spinner fa-spin' : 'fa-save' ]" class="fas"></i></span>
                            <span>Simpan</span>
                        </button>
                    </div>

                </div>
            </div>
            <button aria-label="close" class="modal-close is-large"></button>
        </b-modal>

        <b-modal :active.sync="isModalFourOpened" :width="800">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">

                    <b-table
                       :data="sus"
                       :loading="formFourIsLoading"
                       :paginated="isTablePaginated"
                       :per-page="tablePerPage"
                    >
                        <template slot-scope="props">

                            <b-table-column label="Nomor SU">
                                {{ props.row.nomor }}
                            </b-table-column>

                            <b-table-column label="Status">
                                <b-field>
                                    <b-radio-button :native-value="0" @click.native="setSuTidakAda(props.row.nomor)" v-model="props.row.status">
                                        <b-icon custom-class="has-text-danger" icon="circle" pack="fas"></b-icon>
                                        <span>Tidak Ada</span>
                                    </b-radio-button>
                                    <b-radio-button :native-value="3" @click.native="setSuRusak(props.row.nomor)" v-model="props.row.status">
                                        <b-icon custom-class="has-text-danger" icon="circle" pack="fas"></b-icon>
                                        <span>Rusak</span>
                                    </b-radio-button>
                                    <b-radio-button :native-value="1" @click.native="setSuTersedia(props.row.nomor)" v-model="props.row.status">
                                        <b-icon custom-class="has-text-success" icon="circle" pack="fas"></b-icon>
                                        <span>Tersedia</span>
                                    </b-radio-button>
                                </b-field>
                            </b-table-column>

                            <b-table-column label="Menu">
                                <div class="buttons">
                                    <b-button @click="confirmDeleteSu(props.row.nomor)" icon-left="trash-alt" icon-pack="fas" type="is-danger"></b-button>
                                </div>
                            </b-table-column>

                        </template>
                    </b-table>

                </div>
            </div>
            <button aria-label="close" class="modal-close is-large"></button>
        </b-modal>

        <b-modal :active.sync="isModalFiveOpened" :width="480">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">

                    <label class="label">Tambah Surat Ukur</label>
                    <div class="field has-addons has-addons-fullwidth">
                        <div class="control">
                            <b-input placeholder="cth: 12 atau 9-10" v-model="formFiveNomor"></b-input>
                        </div>
                        <div class="control">
                            <b-select v-model="formFiveStatus">
                                <option :value="0">Tidak ada</option>
                                <option :value="1">Tersedia</option>
                                <option :value="3">Rusak</option>
                            </b-select>
                        </div>
                    </div>

                    <div class="field">
                        <button :disabled="formFiveIsLoading" :loading="formFiveIsLoading" @click="submitFormFive" class="button is-primary">
                            <span class="icon"><i :class="[ formFiveIsLoading ? 'fa-spinner fa-spin' : 'fa-save' ]" class="fas"></i></span>
                            <span>Simpan</span>
                        </button>
                    </div>

                </div>
            </div>
            <button aria-label="close" class="modal-close is-large"></button>
        </b-modal>

    </section>
</template>

<script>
    const $ = require('jquery');

    export default {
        name: "SuratUkurSearch",
        mounted() {

            let _this = this;

            // Init Urls
            this.initUrls();

            // Init Kelurahan
            this.initKelurahan();
        },
        data: () => ({
            item: null,
            itemsKel: [],
            sus: [
                {nomor: -1, status: 1, statusText: 'Loading', statusIcon: 'fa-spin fa-spinner'}
            ],
            teksCari: '',
            maxTahun: 2019,
            urls: {
                'apikel': '',
                'apisu': '',
                'apione': '',
                'apitwo': '',
                'apithree': '',
                'apifour': '',
                'apifive': '',
                'apisix': '',
            },
            isLoading: false,
            errorMessage: '',
            isModalOneOpened: false,
            isModalTwoOpened: false,
            isModalThreeOpened: false,
            isModalFourOpened: false,
            isModalFiveOpened: false,
            pattern: {
                suratUkur: /^\d{1,4}\/[\w ]+\/\d{4}$/gm,
                bundel: /^\d{1,4}-\d{1,4}\/[\w ]+\/\d{4}$/gm
            },
            isTablePaginated: true,
            tablePerPage: 10,
            // Khusus untuk form one
            formOneIsLoading: false,
            formOneErrorText: '',
            formOneNomor: '',
            formOneDesa: 1,
            formOneTahun: 2019,
            formOneRak: '',
            // Khusus untuk form two
            formTwoIsLoading: false,
            formTwoErrorText: '',
            formTwoId: null,
            formTwoStatus: 1,
            // Khusus untuk form three
            formThreeIsLoading: false,
            formThreeErrorText: '',
            formThreeId: '',
            formThreeLabel: '',
            formThreeRak: '',
            formThreeInfo: '',
            formThreeStatus: 1,
            // Khusus untuk form four
            formFourIsLoading: false,
            // Khusus untuk form five
            formFiveIsLoading: false,
            formFiveErrorText: '',
            formFiveId: null,
            formFiveNomor: '',
            formFiveStatus: 1
        }),
        computed: {
            nomorSu: function() {
                if( this.item === null ) {
                    return '-'
                } else {
                    return this.item.su.nomor + '/' + this.item.kel.nama + '/' + this.item.su.tahun;
                }
            }
        },
        watch: {
            isModalFourOpened(s) {
                if( s ) {
                    this.loadFormFour();
                }
            }
        },
        methods: {
            generateNomorSu(nomor) {
                if( this.item === null ) {
                    return '-'
                } else {
                    return nomor + '/' + this.item.kel.nama + '/' + this.item.su.tahun;
                }
            },
            initUrls() {
                var el = $('#app-searcher-local-data');
                this.urls.apikel = el.data('url-apikel');
                this.urls.apisu = el.data('url-apisu');
                this.urls.apione = el.data('url-apione');
                this.urls.apitwo = el.data('url-apitwo');
                this.urls.apithree = el.data('url-apithree');
                this.urls.apifour = el.data('url-apifour');
                this.urls.apifive = el.data('url-apifive');
                this.urls.apisix = el.data('url-apisix');
                this.urls.apiseven = el.data('url-apiseven');
                this.formOneTahun = el.data('max-year');
                this.maxTahun = el.data('max-year');
            },
            initKelurahan() {
                let _this = this;
                $.get(this.urls.apikel, function (o) {
                    if( o.status ) {
                        _this.itemsKel = o.data;
                    } else {
                        console.log(o.message);
                    }
                })
            },
            cariSuratUkur() {
                let teks = this.teksCari;

                if( teks.match(this.pattern.suratUkur) === null ) {
                    this.$buefy.snackbar.open({
                        duration: 5000,
                        message: 'Ooppss... gunakan format label seperti: 25/Sukajadi/1999',
                        position: 'is-bottom-right',
                        type: 'is-warning',
                        queue: false
                    });
                } else {
                    let _this = this;
                    let url = this.urls.apisu.replace('xxx',teks.replace(/\//g,'-'));
                    this.isLoading = true;

                    $.get(url, function (o) {
                        if( o.status !== true ) {
                            _this.$buefy.snackbar.open({
                                duration: 5000,
                                message: 'Ooppss... ' + o.message,
                                position: 'is-bottom-right',
                                type: 'is-warning',
                                queue: false
                            });
                        } else {
                            _this.item = o.data;
                            if( o.data.bu.status === 2 ) {
                                let t = new Date(o.data.bu.tgl);
                                _this.item.bu.tgl = t.getFullYear() + "-" + t.getMonth() + "-" + t.getDate();
                            } else {
                                _this.item.bu.tgl = null
                            }
                            _this.item.su.statusIcon = _this.getStatusIcon(_this.item.su.status);
                            _this.item.su.statusText = _this.getStatusText(_this.item.su.status);
                            _this.item.bu.statusIcon = _this.getStatusIcon(_this.item.bu.status);
                            _this.item.bu.statusText = _this.getStatusText(_this.item.bu.status);
                            _this.formTwoSetup();
                            _this.formThreeSetup();
                            console.log('Query berhasil');
                        }
                    }).fail(function (e) {
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Ooppss... ada sedikit masalah di server kami. Silahkan coba beberapa saat lagi.',
                            position: 'is-bottom-right',
                            type: 'is-warning',
                            queue: false
                        });
                    }).always(function () {
                        _this.isLoading = false;
                    });
                }

            },
            getStatusIcon(x) {
                if( x === 1 ) {
                    return 'has-text-success';
                } else if( x === 2 ) {
                    return 'has-text-warning'
                } else {
                    return 'has-text-danger'
                }
            },
            getStatusText(x) {
                if( x === 0 ) {
                    return 'Tidak ada';
                } else if( x === 1 ) {
                    return 'Tersedia'
                } else if( x === 2 ) {
                    return 'Dipinjam'
                } else if( x === 3 ) {
                    return 'Rusak'
                } else {
                    return 'Tidak diketahui'
                }
            },
            formTwoSetup() {
                this.formTwoId = this.item.su.id;
                this.formTwoStatus = this.item.su.status;
            },
            formThreeSetup() {
                this.formThreeId = this.item.bu.id;
                this.formThreeLabel = this.item.bu.label;
                this.formThreeRak = this.item.bu.rak;
                this.formThreeInfo = this.item.bu.info;
                this.formThreeStatus = this.item.bu.status;
            },
            validateFormOne() {
                // Reset error
                this.formOneErrorText = '';

                if( this.formOneNomor === '' ) {
                    this.formOneErrorText = 'Nomor bundel harus diisi.';
                } else if( this.formOneNomor !== '0' && this.formOneNomor.match(/^\d{1,4}-\d{1,4}$/gm) === null ) {
                    this.formOneErrorText = 'Gunakan format nomor seperti 1-1000, atau gunakan 0 untuk nomor campuran.';
                } else if( typeof this.formOneTahun !== 'number' ) {
                    this.formOneErrorText = 'Format tahun harus angka.';
                } else if( this.formOneTahun < 1910 || this.formOneTahun > this.maxTahun ) {
                    this.formOneErrorText = 'Tahun berkisar antara 1910 sampai ' + this.maxTahun + '.';
                } else if( this.formOneRak === '' ) {
                    this.formOneErrorText = 'Kode rak harus diisi.';
                } else if( this.formOneRak.match(/^[\w ]{1,25}$/gm) === null ) {
                    this.formOneErrorText = 'Kode rak tidak lebih dari 25 karakter.';
                }

                if( this.formOneErrorText === '' ) {
                    if( this.formOneNomor !== '0' ) {
                        let matches = this.formOneNomor.match(/\d+/g);
                        if( matches === null ) {
                            this.formOneErrorText = 'Format nomor surat ukur tidak valid.'
                        } else if( matches.length !==  2) {
                            this.formOneErrorText = 'Format nomor surat ukur tidak valid.'
                        } else if( parseInt(matches[1]) <= parseInt(matches[0]) ) {
                            this.formOneErrorText = 'Mulai dari angka kecil ke angka besar.'
                        } else if( parseInt(matches[0]) < 0 ) {
                            this.formOneErrorText = 'Gunakan angka positif.'
                        }

                        if( this.formOneErrorText === '' ) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true
                    }
                } else {
                    return false;
                }
            },
            validateFormTwo() {
                return true;
            },
            validateFormThree() {
                // Reset error
                this.formThreeErrorText = '';

                if( this.formThreeRak === '' ) {
                    this.formThreeErrorText = 'Kode rak harus diisi.';
                } else if( this.formThreeRak.match(/^[\w ]{1,25}$/gm) === null ) {
                    this.formThreeErrorText = 'Kode rak tidak lebih dari 25 karakter.';
                }

                if( this.formThreeErrorText === '' ) {
                    return true;
                } else {
                    return false;
                }
            },
            validateFormFive() {
                // Reset error
                this.formFiveErrorText = '';

                if( this.formFiveNomor === '' ) {
                    this.formFiveErrorText = 'Nomor SU harus diisi.';
                } else if( this.formFiveNomor.match(/(^\d{1,4}-\d{1,4}$|^\d{1,4}$)/gm) === null ) {
                    this.formFiveErrorText = 'Gunakan format nomor seperti 12 atau 1-1000.';
                }

                if( this.formFiveErrorText === '' ) {
                    if( isNaN(parseInt(this.formFiveNomor)) ) {
                        let matches = this.formFiveNomor.match(/\d+/g);
                        if( matches === null ) {
                            this.formFiveErrorText = 'Format nomor surat ukur tidak valid.'
                        } else if( matches.length !==  2) {
                            this.formFiveErrorText = 'Format nomor surat ukur tidak valid.'
                        } else if( parseInt(matches[1]) <= parseInt(matches[0]) ) {
                            this.formFiveErrorText = 'Mulai dari angka kecil ke angka besar.'
                        }

                        if( this.formFiveErrorText === '' ) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true
                    }
                } else {
                    return false;
                }
            },
            submitFormOne() {
                if( !this.validateFormOne() ) {
                    this.$buefy.snackbar.open({
                        duration: 5000,
                        message: 'Ooppss... ' + this.formOneErrorText,
                        position: 'is-bottom-right',
                        type: 'is-warning',
                        queue: false
                    });
                } else {
                    let _this = this;
                    let nomor = this.formOneNomor.match(/\d+/g);
                    let desa = this.formOneDesa;
                    let tahun = this.formOneTahun;
                    let rak = this.formOneRak;
                    let data = {
                        n1: nomor[0],
                        n2: nomor[1],
                        d: desa,
                        t: tahun,
                        r: rak
                    };
                    this.formOneIsLoading = true;
                    $.post(this.urls.apione, data, function (o) {
                        if( !o.status ) {
                            _this.$buefy.snackbar.open({
                                duration: 5000,
                                message: 'Ooppss... ' + o.message,
                                position: 'is-bottom-right',
                                type: 'is-warning',
                                queue: false
                            });
                        } else {
                            _this.formOneNomor = '';
                            _this.isModalOneOpened = false;
                            _this.$buefy.snackbar.open({
                                duration: 5000,
                                message: 'Yeay... bundel baru sudah disimpan.',
                                position: 'is-bottom-right',
                                type: 'is-success',
                                queue: false
                            });
                            console.log('Query berhasil.');
                        }
                    }).fail(function (e) {
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Ooppss... ada sedikit masalah di server kami. Silahkan coba beberapa saat lagi.',
                            position: 'is-bottom-right',
                            type: 'is-warning',
                            queue: false
                        });
                    }).always(function () {
                        _this.formOneIsLoading = false;
                    });
                }
            },
            submitFormTwo() {
                if( !this.validateFormTwo() ) {
                    this.$buefy.snackbar.open({
                        duration: 5000,
                        message: 'Ooppss... ' + this.formTwoErrorText,
                        position: 'is-bottom-right',
                        type: 'is-warning',
                        queue: false
                    });
                } else {
                    let _this = this;
                    let id = this.formTwoId;
                    let status = this.formTwoStatus;
                    let data = {
                        i: id,
                        s: status,
                    };
                    this.formTwoIsLoading = true;
                    $.post(this.urls.apitwo, data, function (o) {
                        if( !o.status ) {
                            _this.$buefy.snackbar.open({
                                duration: 5000,
                                message: 'Ooppss... ' + o.message,
                                position: 'is-bottom-right',
                                type: 'is-warning',
                                queue: false
                            });
                        } else {
                            _this.item.su.status = o.data.su.status;
                            _this.item.su.statusIcon = _this.getStatusIcon(_this.item.su.status);
                            _this.item.su.statusText = _this.getStatusText(_this.item.su.status);
                            _this.isModalTwoOpened = false;
                            _this.$buefy.snackbar.open({
                                duration: 5000,
                                message: 'Hore... surat ukur sudah diupdate.',
                                position: 'is-bottom-right',
                                type: 'is-success',
                                queue: false
                            });
                            console.log('Query berhasil.');
                        }
                    }).fail(function (e) {
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Ooppss... ada sedikit masalah di server kami. Silahkan coba beberapa saat lagi.',
                            position: 'is-bottom-right',
                            type: 'is-warning',
                            queue: false
                        });
                    }).always(function () {
                        _this.formTwoIsLoading = false;
                    });
                }
            },
            submitFormThree() {
                if( !this.validateFormThree() ) {
                    this.$buefy.snackbar.open({
                        duration: 5000,
                        message: 'Ooppss... ' + this.formThreeErrorText,
                        position: 'is-bottom-right',
                        type: 'is-warning',
                        queue: false
                    });
                } else {
                    let _this = this;
                    let id = this.formThreeId;
                    let rak = this.formThreeRak;
                    let status = this.formThreeStatus;
                    let info = this.formThreeStatus === 2 ? this.formThreeInfo : null;
                    let data = {
                        i: id,
                        r: rak,
                        s: status,
                        f: info
                    };
                    this.formThreeIsLoading = true;
                    $.post(this.urls.apithree, data, function (o) {
                        if( !o.status ) {
                            _this.$buefy.snackbar.open({
                                duration: 5000,
                                message: 'Ooppss... ' + o.message,
                                position: 'is-bottom-right',
                                type: 'is-warning',
                                queue: false
                            });
                        } else {
                            _this.item.bu.rak = o.data.bu.rak;
                            _this.item.bu.status = o.data.bu.status;
                            _this.item.bu.info = o.data.bu.info;
                            if( o.data.bu.status === 2 ) {
                                let t = new Date(o.data.bu.tgl);
                                _this.item.bu.tgl = t.getFullYear() + "-" + t.getMonth() + "-" + t.getDate();
                            } else {
                                _this.item.bu.tgl = null
                            }


                            _this.item.bu.statusIcon = _this.getStatusIcon(_this.item.bu.status);
                            _this.item.bu.statusText = _this.getStatusText(_this.item.bu.status);
                            if( o.data.bu.status === 0 ) {
                                _this.item.su.status = 0;
                                _this.item.su.statusIcon = _this.getStatusIcon(0);
                                _this.item.su.statusText = _this.getStatusText(0);
                            }

                            _this.isModalThreeOpened = false;
                            _this.$buefy.snackbar.open({
                                duration: 5000,
                                message: 'Hore... bundel sudah diupdate.',
                                position: 'is-bottom-right',
                                type: 'is-success',
                                queue: false
                            });
                            console.log('Query berhasil.');
                        }
                    }).fail(function (e) {
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Ooppss... ada sedikit masalah di server kami. Silahkan coba beberapa saat lagi.',
                            position: 'is-bottom-right',
                            type: 'is-warning',
                            queue: false
                        });
                    }).always(function () {
                        _this.formThreeIsLoading = false;
                    });
                }
            },
            loadFormFour() {
                let _this = this;
                let idBundel = this.item.bu.id;
                let url = this.urls.apifour.replace('xxx',idBundel);

                this.formFourIsLoading = true;

                $.post(url, function (o) {
                    if( !o.status ) {
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Ooppss... ' + o.message,
                            position: 'is-bottom-right',
                            type: 'is-warning',
                            queue: false
                        });
                    } else {
                        _this.sus = o.data.map(row => ({
                            nomor: _this.generateNomorSu(row.nomor),
                            status: row.status,
                            statusText: _this.getStatusText(row.status),
                            statusIcon: _this.getStatusIcon(row.status)
                        }))
                    }
                }).fail(function (e) {
                    _this.$buefy.snackbar.open({
                        duration: 5000,
                        message: 'Ooppss... ada sedikit masalah di server kami. Silahkan coba beberapa saat lagi.',
                        position: 'is-bottom-right',
                        type: 'is-warning',
                        queue: false
                    });
                }).always(function () {
                    _this.formFourIsLoading = false;
                });

            },
            submitFormFive() {
                if( !this.validateFormFive() ) {
                    this.$buefy.snackbar.open({
                        duration: 5000,
                        message: 'Ooppss... ' + this.formFiveErrorText,
                        position: 'is-bottom-right',
                        type: 'is-warning',
                        queue: false
                    });
                } else {
                    let _this = this;
                    let nomor = this.formFiveNomor.match(/\d+/g);
                    let desa = this.item.su.idKelurahan;
                    let tahun = this.item.su.tahun;
                    let bundel = this.item.su.idBundel;
                    let status = this.formFiveStatus;
                    let data = {
                        n1: nomor[0],
                        n2: nomor.length === 2 ? nomor[1] : nomor[0],
                        d: desa,
                        t: tahun,
                        b: bundel,
                        s: status
                    };
                    this.formFiveIsLoading = true;
                    $.post(this.urls.apifive, data, function (o) {
                        if( !o.status ) {
                            _this.$buefy.snackbar.open({
                                duration: 5000,
                                message: 'Ooppss... ' + o.message,
                                position: 'is-bottom-right',
                                type: 'is-warning',
                                queue: false
                            });
                        } else {
                            _this.formFiveNomor = '';
                            _this.isModalFiveOpened = false;
                            _this.$buefy.snackbar.open({
                                duration: 5000,
                                message: 'Yeay... SU baru sudah disimpan.',
                                position: 'is-bottom-right',
                                type: 'is-success',
                                queue: false
                            });
                            console.log('Query berhasil.');
                        }
                    }).fail(function (e) {
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Ooppss... ada sedikit masalah di server kami. Silahkan coba beberapa saat lagi.',
                            position: 'is-bottom-right',
                            type: 'is-warning',
                            queue: false
                        });
                    }).always(function () {
                        _this.formFiveIsLoading = false;
                    });
                }
            },
            confirmDeleteSu( nomor ) {
                if( this.sus.length > 1 ) {
                    this.$buefy.dialog.confirm({
                        title: 'Menghapus SU',
                        message: 'Anda yakin ingin menghapus SU <b>' + nomor + '</b>? Proses ini tidak dapat dikembalikan.',
                        confirmText: 'Ya, hapus SU ini',
                        cancelText: 'Batal',
                        type: 'is-danger',
                        hasIcon: true,
                        onConfirm: () => this.hapusSu( nomor )
                    })
                } else {
                    this.$buefy.snackbar.open({
                        duration: 5000,
                        message: 'Ooppss... disini tinggal 1 SU saja, tidak bisa dihapus. Silahkan atur bundelnya menjadi tidak ada.',
                        position: 'is-bottom-right',
                        type: 'is-warning',
                        queue: false
                    });
                }
            },
            setSuTidakAda( nomor ) {
                this.ubahStatusSu( nomor, 0 );
            },
            setSuRusak( nomor ) {
                this.ubahStatusSu( nomor, 3 );
            },
            setSuTersedia( nomor ) {
                this.ubahStatusSu( nomor, 1 );
            },
            ubahStatusSu( nomor, status ) {
                let _this = this;
                let data = {
                    n: nomor,
                    s: status
                };
                this.formFourIsLoading = true;
                $.post(this.urls.apisix, data, function (o) {
                    if( !o.status ) {
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Ooppss... ' + o.message,
                            position: 'is-bottom-right',
                            type: 'is-warning',
                            queue: false
                        });
                    } else {
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Yeay... SU ' + nomor + ' sudah disimpan.',
                            position: 'is-bottom-right',
                            type: 'is-success',
                            queue: false
                        });
                    }
                }).fail(function (e) {
                    _this.$buefy.snackbar.open({
                        duration: 5000,
                        message: 'Ooppss... ada sedikit masalah di server kami. Silahkan coba beberapa saat lagi.',
                        position: 'is-bottom-right',
                        type: 'is-warning',
                        queue: false
                    });
                }).always(function () {
                    _this.formFourIsLoading = false;
                });
            },
            removeSusByNomor( nomor ) {
                let diff;
                for(let i=0; i<this.sus.length; i++) {
                    if( this.sus[i].nomor === nomor ) {
                        diff = i;
                        break;
                    }
                }
                this.sus.splice(diff, 1);
            },
            hapusSu( nomor ) {
                let _this = this;
                let data = {
                    n: nomor
                };
                this.formFourIsLoading = true;
                $.post(this.urls.apiseven, data, function (o) {
                    if( !o.status ) {
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Ooppss... ' + o.message,
                            position: 'is-bottom-right',
                            type: 'is-warning',
                            queue: false
                        });
                    } else {
                        _this.removeSusByNomor(nomor);
                        _this.$buefy.snackbar.open({
                            duration: 5000,
                            message: 'Yeay... SU ' + nomor + ' sudah dihapus.',
                            position: 'is-bottom-right',
                            type: 'is-success',
                            queue: false
                        });
                    }
                }).fail(function (e) {
                    _this.$buefy.snackbar.open({
                        duration: 5000,
                        message: 'Ooppss... ada sedikit masalah di server kami. Silahkan coba beberapa saat lagi.',
                        position: 'is-bottom-right',
                        type: 'is-warning',
                        queue: false
                    });
                }).always(function () {
                    _this.formFourIsLoading = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>